$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 38px;
$margin-xl: 56px;
$margin-xxl: 64px;
$margin-xxxl: 92px;

$padding-xs:  8px;
$padding-sm:  16px;
$padding-md:  24px;
$padding-lg:  38px;
$padding-xl:  56px;
$padding-xxl: 64px;
$padding-xxxl: 92px;

$container-x-sm: $padding-md;
$container-y-sm: $padding-md;
$container-x-md: $padding-xl;
$container-y-md: $padding-lg;
$container-x-lg: $padding-xxxl;
$container-y-lg: $padding-lg;

$font-size-xs:   .75rem !default;
$font-size-sm:   .875rem !default;
$font-size-base: 1rem !default;
$font-size-md: 1.1rem !default;
$font-size-lg:   1.35rem !default;
$font-size-xl: 1.5rem !default;
$font-size-xxl: 1.75rem !default;
$font-size-xxxl: 2rem !default;