// get the main file from @angular/material
@import '~@angular/material/core/theming/all-theme';

// custom vars
@import "_theme";

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// MAIN THEME
$primary-palette: md-palette($md-cyan); //default, light, dark
$accent-palette:  md-palette($md-indigo); //default, light, dark 
$warn-palette:    md-palette($md-red);

$main-theme: md-light-theme($primary-palette, $accent-palette, $warn-palette);

.main-theme {
  @include angular-material-theme($main-theme);
}

// INDIGO THEME
$indigo-primary-palette: md-palette($md-indigo);
$indigo-accent-palette:  md-palette($md-blue-grey, A200, A100, A400);
$indigo-warn-palette:    md-palette($md-deep-orange);

$indigo-theme: md-light-theme($indigo-primary-palette, $indigo-accent-palette, $indigo-warn-palette);

.indigo-theme {
  @include angular-material-theme($indigo-theme);
}

// BLUE THEME
$pink-primary-palette: md-palette($md-pink);
$pink-accent-palette:  md-palette($md-blue-grey, A200, A100, A400);
$pink-warn-palette:    md-palette($md-deep-orange);

$pink-theme: md-light-theme($pink-primary-palette, $pink-accent-palette, $pink-warn-palette);

.pink-theme {
  @include angular-material-theme($pink-theme);
}

// ORANGE THEME
$green-primary-palette: md-palette($md-teal);
$green-accent-palette:  md-palette($md-blue-grey, A200, A100, A400);
$green-warn-palette:    md-palette($md-deep-orange);

$green-theme: md-light-theme($green-primary-palette, $green-accent-palette, $green-warn-palette);

.green-theme {
  @include angular-material-theme($green-theme);
}

// use the layout from ng2-material extension
// the @angular/material layout features have not been shipped yet
@import '~ng2-material/core/style/layout';

// https://codepen.io/Mark_Bowley/pen/mEtqj
// @import "bubbles";

// OOCSS: Custom classes
// these classes are mostly designed to set 1 single value
// these portable classes can usually be applied to any element
@import "variables";
@import "./components/backgrounds";
@import "./components/borders";
@import "./components/colors";
@import "./components/containers";
@import "./components/icons";
@import "./components/images";
@import "./components/layouts";
@import "./components/margins";
@import "./components/nav";
@import "./components/overlays";
@import "./components/paddings";
@import "./components/panels";
@import "./components/text";
