/.idea
/nbproject
/.vagrant


/node_modules
/resources/bower*
bower_components

/config/env/*
!/config/env/globals.json

/storage/logs/*
/storage/tests/*
*/app.js

/app/templates.js
/public/js/app.js

