.bg-size-cover {
  background-size: cover;
}

.bg-center {
    background-position: center center;
}

.bg-repeat-repeat {
  background-repeat: repeat;
}

.bg-repeat-none {
  background-repeat: no-repeat;
}

.background-position-center {
  background-position: center;
}

.bg-blur-s {
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.bg-beige {
  background-color: $beige;
}

.bg-beige-light {
  background-color: $beige-light;
}

.bg-light-gray {
  background-color: darken(#FFF, 3%);
}

.bg-coral-green {
  background-color: $coral-green;
}

.bg-coral-green-light {
  background-color: $coral-green-light;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-dark-grey {
  background-color: $gray-lighter;
}

/**
 * Home Background
 */

.bg-logo {
    background-image: url('/img/pp-logo-small.png');
    width: 160px;
    height: 42px;
}

.bg-ppLightBlue {
  background-color: $ppLightBlue;
}

.bg-ppNavyBlue {
  background-color: $ppNavyBlue;
}

.bg-white {
  background-color: white;
}

.bg-lightbeige {
  background-color: $ppLightBeige;
}

.bg-grey {
  background-color: $gray-disabled;
}

.bg-title-banner {
  background-color: $navbar-dark-color;
}