.Block {
	padding: 19px 0px;
	border: 2px;
	margin: 40px 0px;
	margin-right: 20px;
	width: 25%;

	&:last-child {
		margin-right: 0px;
	}

	@include m(light) {
		background: $brand-secondary;

		h3, span {
			color: $brand-primary;
		}
	}


	@include e(splitter) {
		margin: 10px 0px;
	}

	@include m(bordered) {
		padding: 16px 20px;
		border: 1px solid $gray-lightest;
		border-radius: 2px;
		width: 100%;
		margin-top: 20px;

		dt {
			font-weight: 400;
			color: $gray;
			width: 70%;

			&.dark {
				color: $gray-dark;

				span {
					color: $gray;
				}
			}
		}

		dd {
			font-weight: 400;
			color: $gray;
			width: 30%;

			a {
				color: $gray;
			}

			&.dark {
				color: $gray-dark;
				a {
					color: $gray-dark;
				}
			}
		}
	}

	h3 {
		font-size: 21px;
		font-weight: 500;
	}

	span {
		font-size: 14px;
		font-weight: 400;

	}

	@include e(container) {
		display: flex;

	}

}