.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  line-height: normal;
  padding: $btn-padding-y $btn-padding-x;
  border-radius: $btn-border-radius;
  -webkit-border-radius: $btn-border-radius;
  -moz-border-radius: $btn-border-radius;
  font-size: 15px;

  &:hover {
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
  }

  &:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }


  //Button variations
  &.btn-primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    border: none;

    &:hover {
      background-color: lighten($brand-primary, 2%);
    }
  }

  &.btn-secondary {
    background-color: $btn-secondary-bg;
    color: $btn-secondary-color;
    border: none;

    &:hover {
      background-color: $brand-primary;
      color: #fff;
    }
  }

  &.btn-light {
    background-color: $btn-light-bg;
    color: $btn-light-color;
    border: none;

    &:hover {
      color: $brand-primary;
    }
  }

  &.btn-close {
    display: inline-block;
    background: url(/img/icons/close.svg) transparent no-repeat center;
    padding: 0px;
    width: 11px;
    height: 11px;
    margin: 15px 10px;

    &:hover {
      box-shadow: none;
    }
  }


  //Button sizes
  &.btn-full {
    width: 100%;
    text-align: center;
    display: block;
  }

  &.btn-lg {
    font-size: 15px;
    padding: $btn-padding-y-lg $btn-padding-x-lg;
  }

  &.btn-drop {
      margin-top: 20px;
  }

  //Button states
  &:disabled, &.disabled {
    cursor: not-allowed;
    background: #F5F5F5;
    color: $gray;
    opacity: 1;

    &:hover {
      cursor: not-allowed;
      background: #F5F5F5;
      color: $gray;
      opacity: 1;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}
