.Card {
	position: relative;
	padding: 20px 25px;
	border-radius: 2px;
	margin-bottom: 10px;
	background-color: $gray-lightest;

	@include m(disabled) {
		opacity: 0.5;
		cursor: not-allowed;
	}

	.arrow-btn {
		position: absolute;
		background: none;
		outline: none;
		text-indent: -9999em;
		width: 9px;
		height: 18px;
		border: 0px;
		border-radius: 0px;
		background: url(/img/icons/right-arrow.svg) no-repeat;
		right: 25px;
    	top: 37px;
		min-width: 9px;
	}

	p {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}

}