.text-color-primary {
  color: $brand-primary;
}

.text-color-info {
  color: $brand-info;
}

.text-color-warning {
  color: $brand-warning;
}

.text-color-danger {
  color: $brand-danger;
}

.text-color-default {
  color: $text-color-main;
}

.text-color-dark {
  color: $gray-dark;
}

.text-color-white {
  color: #fff;
}

.text-color-purple {
  color: $purple;
}

.text-color-grey {
  color: $gray-text-light;
}

.text-color-green {
  color: $green;
}

.text-color-red {
  color: $red;
}

.text-color-amber {
  color: $amber;
}
