.form-group {
  width: 100%;
  margin-bottom: 10px;

  &.drop {
      margin-top: 20px;
  }

  .text-color-danger {
      font-size: 14px;
      padding-top: 2px;
  }

  .form-control {
      width: 100%;
  }
}
