body, button, input, select, option {
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

//Cross browser inline-block
.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.round {
  border-radius: 100%;
}

.left {
  float: left;
}
@include media-breakpoint-up(sm) {
  .right {
    float: right;
  }
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 90%;
  @include media-breakpoint-up(md) {
    width: 25%;
  }
}

.full-height {
  height: 100%;
}

.hide {
  display: none !important;
}


.textbox {
    font-size: 14px;
    width: 100%;
    height: 312px;
    border: 1px solid $gray-lightest;
    overflow: auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 10px;
}

.bottom-label {
    font-size: 14px;
    color: $gray;
    margin-bottom: 20px;
}

//prevent the "blink" that happens when divs that are hidden with ng-cloak are momentarily visible on page load.
[ng\:cloak],[ng-cloak],.ng-cloak{
  display:none !important
}

.vertical-top {
  vertical-align: top;
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-bottom {
  vertical-align: bottom;
}

.float-none {
  float: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
