.icon-lg {
  @include icon($icon-size-lg)
}

.icon-md {
  @include icon($icon-size-md)
}

.icon-sm {
  @include icon($icon-size-sm)
}

.icon-xs {
  @include icon($icon-size-xs)
}

// BASE64 ICONS
.icon-image-upload {
  height: $icon-size-md;
  width: $icon-size-md;
  z-index: 200;
}

.icon-loading-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.icon-container {
  text-align: center;
  width: 60px;
}
