.line-height-xl {
  line-height: $line-height-lg * 1.3;
}

.line-height-lg {
  line-height: $line-height-lg;
}

.line-height-md {
  line-height: $line-height;
}

.line-height-sm {
  line-height: $line-height-sm;
}

.line-height-xs {
  line-height: $line-height-sm * 0.8;
}