// XXS
.margin-x-xxs {
  @include margin-x($margin-xxs);
}
.margin-y-xxs {
  @include margin-y($margin-xxs);
}
.margin-top-xxs {
  @include margin-top($margin-xxs);
}
.margin-bottom-xxs {
  @include margin-bottom($margin-xxs);
}

// XS
.margin-x-xs {
  @include margin-x($margin-xs);
}
.margin-y-xs {
  @include margin-x($margin-xs);
}
.margin-top-xs {
  @include margin-top($margin-xs);
}
.margin-bottom-xs {
  @include margin-bottom($margin-xs);
}
.margin-left-xs {
  @include margin-left($margin-xs);
}

// SM
.margin-x-sm {
  @include margin-x($margin-sm);
}
.margin-y-sm {
  @include margin-y($margin-sm);
}
.margin-top-sm {
  @include margin-top($margin-sm);
}
.margin-bottom-sm {
  @include margin-bottom($margin-sm);
}

// MD
.margin-x-md {
  @include margin-x($margin-md);
}
.margin-y-md {
  @include margin-y($margin-md);
}
.margin-top-md {
  @include margin-top($margin-md);
}
.margin-bottom-md {
  @include margin-bottom($margin-md);
}

// LG
.margin-x-lg {
  @include margin-x($margin-lg);
}
.margin-y-lg {
  @include margin-y($margin-lg);
}
.margin-top-lg {
  @include margin-top($margin-lg);
}
.margin-bottom-lg {
  @include margin-bottom($margin-lg);
}

// XL
.margin-x-xl {
   @include margin-x($margin-xl);
 }
.margin-y-xl {
  @include margin-y($margin-xl);
}
.margin-top-xl {
  @include margin-top($margin-xl);
}
.margin-bottom-xl {
  @include margin-bottom($margin-xxl);
}

// XL
.margin-x-xxl {
  @include margin-x($margin-xxl);
}
.margin-y-xxl {
  @include margin-y($margin-xxl);
}
.margin-top-xxl {
  @include margin-top($margin-xxl);
}
.margin-bottom-xxl {
  @include margin-bottom($margin-xxl);
}

//MARGINLESS
.marginless-top {
  margin-top: 0 !important;
}
.marginless-right {
  margin-right: 0 !important;
}
.marginless-bottom {
  margin-bottom: 0 !important;
}
.marginless-left {
  margin-left: 0 !important;
}
.marginless {
  margin: 0 !important;
}

// MINUS - (for those position absolute hacks)
.margin-top-minus-5 {
  margin-top: -5px;
}

@include media-breakpoint-up(sm) {
  .margin-x-not-mobile-xs {
    @include margin-x($margin-xs);
  }
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}