.modal-dialog {
  height: 100%;
}

.modal-title {
    margin-bottom: 5px;
}

.modal {
    .modal-body {
        padding: 0px;
        border: none;
    }
    .modal-dialog {
        width: 100%;
        max-width: 580px;
        box-sizing: border-box;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .modal-content {
        width: 100%;
        max-width: 580px;
        box-sizing: border-box;
        padding: 40px 40px;
        border-radius: 2px;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .modal-footer {
        padding: 0px;
        border: none;
    }

    .modal-header {
        padding: 0px;
        border: none;
        padding-bottom: 20px;
    }
}
