.Pagination {
  display: block;
  position: relative;

  @include e(steps) {
    display: inline-block;
    margin: 0px 12px;
  }

  @include e(step) {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: $border-radius;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    background: #F5F5F5;
    color: $gray;
    font-weight: 500;

    &:hover {
      background: $brand-secondary;
      color: $brand-primary;
      text-decoration: none;
    }
  }
}