h1, h2, h3, h4, h5 {
  font-weight: $headings-font-weight;
  color: $headings-color;
}

h5 {
  color: $gray;

  &.dark {
    color: $brand-primary;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
    padding-left: 15px;
  }

  &.dull {
    color: $gray;
    font-size: 18px;
    margin-top: 30px;
    font-weight: 500;
    padding-left: 15px;
  }
}

h4 {
  &.split {
    font-size: 16px;
    color: $gray-dark;
    margin: 40px 0px 20px 0px;
    font-weight: 500;
  }

  &.drop {
    margin-top: 20px;
  }
}

h2 {
    &.hang {
        margin-bottom: 40px;
    }
}

h1 {
    line-height: 38px;

    &.drop {
        margin-top: 60px;
    }

    &.hang {
        margin-bottom: 60px;
    }
}

p {
  &.seperate {
    padding: 0px 10px;
  }

  &.smaller {
    color: $gray;
    font-size: 14px;
    line-height: 21px;
  }
}
