<footer class="site-footer section-spacing text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="footer-links"><a href="">Terms of Use</a> <a href="">Privacy Policy</a></p>
            </div>
            <div class="col-md-4"> <small>&copy; 2015 Launch. All rights reserved.</small></div>
            <div class="col-md-4">
                <!--social-->

                <ul class="social">
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>

                <!--social end-->

            </div>
        </div>
        <!--chat-btn-->
        <a href="" class="chat-btn" data-toggle="modal" data-target="#modal-contact-form"></a>
        <!--chat-btn end-->

    </div>
</footer>