// background color mixin - accepts 2 params:
// map: material design palette 
// string: dark/light level
@mixin bg-color ($palette, $level) {
    background-color: md-color($palette, $level);
}

// OOCSS classes for backgrounds
.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.bg-primary {
    @include bg-color(map-get($theme, primary), 'default');
}

.bg-primary-lighter {
    @include bg-color(map-get($theme, primary), 'lighter');
}

.bg-primary-darker {
    @include bg-color(map-get($theme, primary), 'darker');
}

.bg-primary-alt {
    background-color: #b4e0e1;
}

.bg-primary-alt-darker {
    background-color: #224687;
}

.bg-accent {
    $accent: map-get($theme, accent);

    @include bg-color($accent, 'default');
}

.bg-accent-lighter {
    $accent: map-get($theme, accent);

    @include bg-color($accent, 'lighter');
}

.bg-accent-darker {
    $accent: map-get($theme, accent);

    @include bg-color($accent, 'darker');
}