// background color mixin - accepts 2 params:
// map: material design palette 
// string: dark/light level
@mixin bg-color ($theme, $palette: primary, $level: 'default') {
    background-color: md-color(map-get($theme, $palette), $level);
}

// OOCSS classes for backgrounds
.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

// MAIN THEME
.bg-primary {
    @include bg-color($main-theme, primary, 'default');
}

.bg-alt {
    background-color: #b4e0e1;
}

.bg-alt-darker {
    background-color: #224687;
}

// INDIGO THEME

.indigo-theme {

    .bg-primary {
        @include bg-color($indigo-theme, primary, 'default');
    }

    .bg-primary-darker {
        @include bg-color($indigo-theme, primary, 'darker');
    }

    .bg-primary-lighter {
        @include bg-color($indigo-theme, primary, 500);
    }

    .bg-alt {
        background-color: #8e4497;
    }
}



