$border-gray: 1px solid #e0e0e0;

@mixin border-color($theme, $palette: primary, $level: 'default') {
    border-color: md-color(map-get($theme, $palette), $level);
}

.border-bottom {
    border-bottom: $border-gray;
}

.border-thick {
    border: 3px solid white;
}

.border-white {
    border-color: white;
}

.border-primary {
    @include border-color($main-theme, primary, 'default');
}

