$border-primary: 1px solid #e0e0e0;

.border-bottom {
    border-bottom: $border-primary;
}

.border-thick {
    border: 3px solid white;
}

.border-primary {
    border-color: md-color(map-get($theme, primary), 'default');
}

.border-white {
    border-color: white;
}