// text color mixin - accepts 2 params:
// @map: material design palette 
// @string: dark/light level
@mixin text-color($theme, $palette: primary, $level: 'default') {
    color: md-color(map-get($theme, $palette), $level);
}

.transparent {
    color: transparent;
}

// OOCSS classes for text colour
.white {
    color: #fff;
}

// hacked up colours that have been used only to
// keep the homepage similar to the lead picture
.alt {
    color: #b4e0e1;
}

.alt-darker {
    color: #224687;
} 


// APPLICATION COLOURS
.primary {
    @include text-color($main-theme, primary, 'default');
}

.indigo-theme {
    .primary {
        @include text-color($indigo-theme, primary, 'default');
    }
}


