.img-logo-300 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/img/3step-logo-300.png);
}

.img-logo-inverted-300 {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../assets/img/3step-logo-inverted-300.png);
}
