$img-panel-height: 350px;

// logos and other smaller images
@mixin bg-img ($url, $size: contain, $height: auto){
    height: $height;
    width: 100%;
    background-position: center center;
    background-size: $size;
    background-repeat: no-repeat;
    background-image: $url;
}

.img-logo-100 {
    @include bg-img(url(../assets/img/3step-logo-300.png), contain, 100px);
}

.img-logo-inverted-100 {
    @include bg-img(url(../assets/img/3step-logo-inverted-300.png), contain, 100px)
}

.img-clientside-logos {
    @include bg-img(url(../assets/img/clientside-logos3.png), contain, 250px)
}

.img-development-logos {
    margin: 30px 30px 30px 30px;

    @include bg-img(url(../assets/img/dev-langs-green.png), contain, $img-panel-height - 30)
}

.img-landing {
    background-color: rgba(0, 0, 0, 0.5);
    //background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/img/christmas-lights-green-cropped.jpg);
}

.img-data {
    @include bg-img(url(../assets/img/nodeserver-logo-green-light.png), contain, $img-panel-height)
}

.img-material-stack {
    @include bg-img(url(../assets/img/material-stack.png), contain, $img-panel-height)
}

.img-material-curves {
    @include bg-img(url(../assets/img/material-curves.png), cover, 450px)  
}

.img-material-depth {
    @include bg-img(url(../assets/img/material-depth.png), cover, 450px)  
}

.img-mobile-web {
    @include bg-img(url(../assets/img/mobile-web2.png), contain, $img-panel-height)
}

.img-api-logos {
    @include bg-img(url(../assets/img/node-django-white.png), contain, $img-panel-height)
}

.img-api-integrations {
    @include bg-img(url(../assets/img/api-integrations.png), contain, $img-panel-height)
}

.img-golang-logo {
    @include bg-img(url(../assets/img/golang-logo.png), contain, $img-panel-height)
}

.img-networks {
    @include bg-img(url(../assets/img/networks.png), contain, $img-panel-height)
}

.img-levels {
    @include bg-img(url(../assets/img/levels.png), contain, $img-panel-height)
}

.img-tdd {
    @include bg-img(url(../assets/img/tdd.png), contain, $img-panel-height)
}

.img-data-logos {
    @include bg-img(url(../assets/img/devops-logos2.png), contain, $img-panel-height)
}

.img-elastic-logo {
    @include bg-img(url(../assets/img/elasticsearch-logo.png), contain, $img-panel-height)
}
