$margin-xs: 8px;
$margin-sm: 16px;
$margin-md: 24px;
$margin-lg: 38px;
$margin-xl: 56px;

.marginless {
    margin: 0px 0px 0px 0px !important;
}

.margin-y-sm {
    margin-top: $margin-sm;
    margin-bottom: $margin-sm;
}

.margin-y-md {
    margin-top: $margin-md;
    margin-bottom: $margin-md;
}

.margin-y-lg {
    margin-top: $margin-md;
    margin-bottom: $margin-md;
}

.margin-y-xl {
    margin-top: $margin-md;
    margin-bottom: $margin-md;
}