//CUSTOM COLORS
$green:                 #29C877;
$purple:                #993399;
$red:                   #DF4931;
$amber:                 #DBBF22;
$coral-pink:            #F59080;
$coral-green:			#29C877;
$coral-green-light:		#E9F7F1;
$dark-blue:             rgb(51, 122, 183);
$gray-text-default:     rgb(101, 107, 112);
$gray-text-light:       #96A0A9;
$gray-text-custom:      #B3B6B8;
$gray-border-light:		#E7E7E8;
$gray-disabled: 		#e4e4e4;
$beige:                 #F4F3EF;
$beige-light:           #f7f7f7;
$blackish:              #2B2D2E;
$star-yellow:           #ddd;
//Ryan
$ppLightBlue:           #F4F7FD;
$ppNavyBlue:            #337AB7;
$ppLightBeige:          rgba(242, 242, 242, 0.4);

