// CUSTOM VALUES

// Header bar
$header-color: $brand-primary !default;

//Footer
$footerHeight:              110px;

// Font sizes - custom
$font-size-xl:            30px;
$font-size-xxl:            50px;

//Text color - custom
$text-color-main: $gray-dark;

//Icon size - custom
$icon-size-lg:             150px;
$icon-size-md:             100px;
$icon-size-sm:             50px;
$icon-size-xs:            25px;


// PADDING - custom
$padding-y-xxs:			1px;
$padding-x-xxs:         2px;
$padding-y-xs:          3px;
$padding-x-xs:          5px;
$padding-y-sm:          5px;
$padding-x-sm:          10px;
$padding-y:             6px;
$padding-x:             12px;
$padding-y-lg:          10px;
$padding-x-lg:          16px;
$padding-y-xl:			20px;
$padding-x-xl:			80px;
$padding-x-xxl:			120px;
$padding-y-xxl:			120px;

// MARGIN - custom
$margin-xxs:			5px;
$margin-xs:				10px;
$margin-sm:				15px;
$margin-md:				30px;
$margin-ml:				40px;
$margin-lg:				50px;
$margin-xl:				80px;
$margin-xxl:			150px;

//Border width - custom
$border-width-lg: 5px;
$border-width-base: 2px;
$border-width-sm: 1px;

//Border color - custom
$border-color-dark:          $gray-dark;
$border-color-medium:        $gray;
$border-color-light:         $gray-border-light;

//Borders - custom
$border-light: $border-width-sm solid $border-color-light;
$border-medium: $border-width-sm solid $border-color-medium;
$border-dark: $border-width-sm solid $border-color-dark;

$border-light-thick: $border-width-lg solid $border-color-light;
$border-medium-thick: $border-width-lg solid $border-color-medium;
$border-dark-thick: $border-width-lg solid $border-color-dark;

$border-primary: $border-width-sm solid $brand-primary;
$border-primary-thick: $border-width-lg solid $brand-primary;

$border-radius-base:     4px;
$border-radius-lg:       6px;
$border-radius-sm:       3px;

//custom thumbnail
$thumbnail-image-sm: 100px;
$thumbnail-image-md: 150px;
$thumbnail-image-lg: 200px;