<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>About StarPilot Academy</h1>

            <p>StarPilot Academy was founded by 2 programmers, Rob and Simon, in 2015.
                Ou goal is simple. We want to teach millions of kids to code.
                We want to raise a generation of programmers.</p>

            <p>In the future programming will be everywhere. Whether it's the robots that are cleaning your house,
                or the self-driving car that is chaufeuring you around, our lives are about to be transformed by technology,
                in ways that we can't even imagine.</p>

            <p>Programming is for everyone. It's not some secret dark art that only a few people can do.
                It's really not that different from reading and writing. Give it a shot and you'll see how simple it is.
                And as programming languages evolve and get smarter, it's becoming easier and easier all the time.</p>

            <p>If you complete this course you will have a different perspective on the world.
                You'll have new ideas about the things that you can do. And you'll find ways to incorporate programming into
                your life in ways that you haven't yet even realised. Trust us when we say learning to code will change your life</p>

            <p>Join us at StarPilot Academy and let's sail towards the future.</p>

            <button href="/signup"></button>
        </div>
    </div>
</div>
