
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Terms and Conditions</h1>
            <p>The following terms and conditions apply to all students accepted to study at StarPilot Academy
                run by Rob Tucker, Sole Trader of 5 Scarab Walk, London, N1 2 QZ. By applying for a StarPilot Academy
                course or paying a deposit against StarPilot Academy course fees you confirm acceptance of these
                terms and conditions as legally binding on you until successful completion by you of the course
                (unless terminated or cancelled earlier in accordance with these terms and conditions).</p>

            <h3>COURSE ATTENDANCE AND CONDUCT</h3>

            <p>StarPilot Academy courses are intensive courses that require a serious commitment from all students.
                StarPilot Academy wants to ensure that all students on its courses have the best possible opportunity
                to succeed and therefore reserves the right to suspend from the course any student who in any way
                disrupts the course environment. We hope that our selection process means we will never have to do this, of course.
                Other than in the event of serious disruptive behavior we will seek to resolve any issues by way of
                coaching and dialogue before taking more serious steps.</p>

            <p>If, despite our careful selection process, we find (acting reasonably and having undertaken a thorough investigation)
                that a student is failing to keep up with the demands of the course they have chosen, and after consulting
                with the student we decide that the student is not likely to successfully complete the course, we reserve the
                right to require the student to leave the course. Provided we are satisfied, acting reasonably and taking all
                reasonable circumstances into consideration, that the student has made a good faith effort to succeed on the course
                we will refund a pro-rata amount of the course fees paid by a student who is required to leave (based on the
                number of full weeks of the course remaining after the student was required to leave, as a percentage of the total
                number of course weeks) .In any other circumstances the terms of section 4 (“Payment of Fees if the course is not
                completed”) below will apply.</p>

            <p>Students will be required to comply with all rules and regulations of StarPilot Academy or the premises in which
                StarPilot Academy courses are held. StarPilot Academy reserves the right to exclude any student for failure to do so.</p>

            <h3>COURSE CONTENT AND STRUCTURE</h3>

            <p>Each StarPilot Academy course will last for a minimum of 12 calendar weeks. StarPilot Academy courses will evolve.
                The content, structure and methods used in each course is subject to a constant process of review and improvement.
                This means that the course that you attend may not be identical to previous courses, and, whilst it will be materially
                the same, may not be identical to that described on the StarPilot Academy website.</p>

            <h3>DEPOSIT</h3>

            <p>Anyone accepted on a StarPilot Academy course is required to pay a non-refundable £800 deposit to secure
                their place on the course, which will be deducted from the total course fees owed. StarPilot Academy operates
                a “first come first served” policy so once you have paid your deposit we will reserve a place for you on our next
                available course (subject to your payment of the course fees as described below).</p>

            <h3>COURSE FEES</h3>

            <p>Following payment of the deposit, students can choose one of two payment plans for course fees, as follows:</p>

            <ul>
                <li>
                    <h4>A. STANDARD PAYMENT PLAN – 100% NOT LATER THAN TEN DAYS PRIOR TO COMMENCEMENT OF THE COURSE</h4>
                    <p>The student must pay 100% of the published fee for the relevant course (less the deposit) so that it is
                        received in StarPilot Academy’s bank account not later than ten days before the commencement of the course.
                        The fee is non-refundable if the student withdraws from the course within the ten days prior to the start of
                        the course.</p>
                    <p>If payment in full is not received by StarPilot Academy in its bank account not later than ten days
                        before the commencement of a course StarPilot Academy may, at its option, re-allocate the place
                        reserved for the student to a wait-listed student in which case the original student will no longer
                        be able to attend the course and will not be entitled to be repaid his/her deposit.</p>
                </li>
                <li>
                    <h4>B. MONTHLY PAYMENT PLAN</h4>
                    <p>The student must pay 10% of the normal fee for the course over the course over a 12 week period.
                        Thus totaling an extra 20% payment. Any fees that have already been paid are non-refundable if
                        the student withdraws from the course. </p>
                </li>
            </ul>

            <h3>REFUND POLICY</h3>

            <p>Any deposit or course fee paid by a student in accordance with the payment plan selected by the student set out
                in section 3 above is non-refundable unless the course on which the student is enrolled is cancelled
                (whether prior to the course commencing, or after its commencement) by StarPilot Academy,
                in which case any course fee which has been paid by the student will be refunded in full.
                If a course is temporarily suspended for a period of less than one month no course fees will be refunded.
                If a course is suspended for a period of longer than one month students enrolled on that course will be given
                the option of continuing the course when it resumes or receiving a pro-rata refund of course fees for the
                suspended part of the course (based on the number of full weeks of the course that were suspended,
                as a percentage of the total number of course weeks).</p>

            <h3>PRE-COURSE</h3>

            <p>StarPilot Academy may, at its discretion, require students to complete a pre-course prior to the start of
                the full course for which course fees are payable. This pre-course will be provided at no additional
                cost to students and is intended to ensure that each student is suitable to participate in the full course.
                It is envisaged that each pre-course will last for 15 hours per week for four weeks prior to the commencement
                of the relevant full course. If a student fails to complete the pre-course, or StarPilot Academy reasonably
                determines that the student is not suitable to participate in the full course (including if he/she does not
                pass any final technical test set by StarPilot Academy), the student shall not be permitted to participate in the
                full course (and shall not be entitled to a refund of any pre-paid deposit but shall be entitled to a full refund
                of any other course fees already paid).</p>

            <h3>RIGHT TO STUDY</h3>

            <p>All students must have the right to study in the UK under applicable UK rules, and hold a current visa if necessary.
                A guide to these rules can be found at: http://www.ukba.homeoffice.gov.uk/visas-immigration/studying/</p>

            <p>As a general rule you will not need a visa if you hold a passport issued by the UK or any other country
                in the European Economic Area (EEA) or Switzerland.</p>

            <p>Please note that StarPilot Academy is not currently an accredited institution for the purposes of the
                “student visitor” category.</p>

            <p>Students will be required to produce an EEA or Swiss passport on enrolment on a course.
                If you intend to rely on other documents you should provide full details to StarPilot Academy
                when applying for a course.</p>

            <h3>LIABILITY</h3>

            <p>If for any reason StarPilot Academy cancels a planned course after a student has been accepted on the course
                StarPilot Academy will refund to the student any deposit and course fees paid by the student (as per section 5)
                but will have no further liability to the student.</p>

            <p>Except in respect of death or personal injury caused by StarPilot Academy's negligence or StarPilot Academy’s fraud,
                StarPilot Academy shall not be liable (to the extent able to be excluded at law) to any student by reason of any
                representation (unless fraudulent), or any implied warranty, condition or other term, or any duty at common law,
                or under the express terms of the contract for any loss of profit or any indirect, special or consequential loss,
                damage, costs, expenses or other claims (whether caused by the negligence of StarPilot Academy, its servants
                or agents or otherwise) which arise out of or in connection with the provision of the StarPilot Academy course
                and the entire liability of StarPilot Academy under or in connection with the course shall not exceed the amount
                of StarPilot Academy's charges for the course on which the student is or has applied to be enrolled.</p>

            <p>StarPilot Academy shall not be liable to the student or be deemed in breach of contract by reason of any
                delay or failure to perform any of StarPilot Academy's obligations in relation to the course if this was due
                to any cause beyond StarPilot Academy's reasonable control.</p>

            <h3>INTELLECTUAL PROPERTY AND PUBLICITY</h3>

            <p>For the purposes of these terms and conditions:</p>

            <p>“Intellectual Property Rights” means patents, rights in inventions, registered and unregistered trade marks and
                service marks, domain names, registered designs and design rights, copyright (including such rights in computer
                software and databases), database rights and rights in confidential information including know how and trade secrets
                (in each case for the full period thereof and extensions, revivals and renewals thereof), applications for the
                foregoing and the right to apply for any of the foregoing anywhere in the world, and all similar rights anywhere
                in the world including those subsisting in inventions, designs, drawings and computer programs; and</p>

            <p>“Student Content” means any text, files, images, photos, videos or works of authorship that you submit to us
                during a course, (but shall not include any content, materials or information that you have downloaded,
                copied or otherwise obtained from us, which you hereby acknowledge is owned by us or our licensors).</p>

            <p>We do not claim any ownership of any Intellectual Property Rights in your Student Content. After submitting
                Student Content to us, you retain all rights of ownership which you have subsisting in it and you may use
                it in any way you choose (provided it does not breach any of these terms and conditions or any applicable laws).</p>

            <p>You warrant that you own the Intellectual Property Rights in and to all Student Content that you submit to us
                or you are otherwise entitled to submit the same to the StarPilot Academy website.</p>

            <p>You hereby grant us a non-exclusive, irrevocable, perpetual, royalty-free, worldwide licence to use your
                Student Content in order to publicise and promote StarPilot Academy and courses run by us, including without
                limitation the right to publicly perform, reproduce, display, modify, manage, distribute and store any of your
                Student Content as part of our website or as part of any materials used to promote or advertise StarPilot Academy
                anywhere in the world. We shall not otherwise distribute or sell any of your Student Content without your permission.</p>

            <p>We will not be under any obligation whatsoever to pay you for any of the Student Content used in accordance
                with these terms and conditions. Save in respect of the Student Content, all Intellectual Property Rights
                in and to the all content, materials and information provided to you by us during the course are owned by
                and shall remain owned by us or our licensors.</p>

            <p>You may view, download and print any content, materials and information made available to you by us during
                the course subject to the following conditions:</p>

            <ul>
                <li><p>the content, materials and information may only be used for your personal use; save as expressly permitted
                    by us in these terms and conditions, the content, materials and information shall not be reproduced or included
                    in any other work or publication in any medium;</p></li>
                <li><p>the content, materials and information may not be modified, decompiled, reverse engineered, disassembled or altered
                    in any way unless they are specifically provided for these purposes or on terms that permit these acts;</p></li>
                <li><p>save as expressly permitted by us in these terms and conditions, the content, material and information may not
                    be distributed or sold to any third party; and</p></li>
                <li><p>you may not remove any copyright or other proprietary notices contained in the content, material or information.
                </p></li>
            </ul>


            <h3>PHOTOGRAPHY, FILMING, VIDEO RECORDING, ETC.</h3>

            <p>StarPilot Academy may film, photograph or record you as part of the creation of marketing, educational or
                other content (“Promotional Content”) to promote or publicise StarPilot Academy or for other purposes and
                may permit other companies to carry out similar projects.</p>

            <p>You hereby agree that the Intellectual Property Rights in respect of any Promotional Content shall vest
                in and are hereby assigned to StarPilot Academy and you grant all necessary consents that may be required
                under any legislation or regulation in any jurisdiction to permit the Promotional Content or any part of it
                to be exhibited or otherwise exploited by all means and in all media and formats throughout the universe for
                the full period of copyright and all renewals, revivals, reversions and extensions thereof and thereafter so
                far as may be possible in perpetuity. You further confirm that you shall not seek to enforce any rights to
                equitable remuneration in respect of any rental and lending and cable re-transmission rights in the
                Promotional Content.</p>

            <p>Without limiting the foregoing in any way, we shall be entitled to
                (a) alter, adapt or make additions to or deletions from the Promotional Content (and your appearance therein)
                at our discretion,
                (b) make and exploit and to authorise the making and exploitation of any recording or fixation of your
                appearance separately from or in conjunction with the Promotional Content throughout the Universe in
                perpetuity by all means and in all media whether now known or hereafter invented including without limitation
                by way of any interactive, online telephony or new media application;
                (c) dub your voice in any language; and
                (d) include your name, likeness, voice, biographical details, photographs of you and recordings of
                interviews with you separately from or in conjunction with the Promotional Content by all means and
                in all media and formats throughout the Universe including but not by way of limitation in advertising,
                publicity and exploitation material.</p>

            <p>You acknowledge that no repeat fees or any other fees shall be payable to you in respect of any subsequent
                rebroadcast or retransmission or any other use by us (or any assignees or licensees) of the Promotional Content
                or any part thereof.</p>

            <p>You hereby waive any so-called 'moral rights' in the Promotional Content and such rights under section 77 and
                section 80 of the Copyright Designs and Patents Act 1988 as you now has or may hereafter acquire in relation to the
                Promotional Content. Accordingly, we shall have the unfettered right to modify the Promotional Content or any part of it
                in any way that we think fit.</p>

            <p>We shall be entitled to assign the benefit of this section 9 either in whole or in part to any to any of our
                subsidiary or associated companies or successors in title and/or any third party.</p>

            <p>You agree that in the event of any breach of these terms and conditions by us, you shall not be
                entitled to enjoin and/or injunct the distribution and/or exploitation of the Promotional Content and
                any legal remedy you may have shall lie in an action at law for damages (subject to the limitations
                set out in section 7).</p>

            <h3>COMPLAINTS POLICY</h3>

            <p>If a student is not satisfied with any aspect of StarPilot Academy, whether that be the course content,
                curriculum, facilities or any other issue, they should first raise their concern with the relevant course tutor.</p>

            <p>If a discussion or correspondence with the relevant course tutor does not satisfactorily resolve
                the student’s concern, or the student does not feel they are able to raise the concern with the
                course tutor (for example because it relates to the tutor’s personal performance) the complaint
                should be raised with Rob Tucker, Founder of StarPilot Academy, by email to rob@starpilot.academy</p>

            <h3>THIRD PARTY JOB OPPORTUNITIES</h3>

            <p>We may from time to time make you aware of job opportunities offered by third parties (and/or introduce you
                to those third parties). We are not responsible or liable for any matters relating to those third parties or
                job opportunities, and you must undertake your own due diligence before accepting an offer of employment
                from any such third party.</p>

            <h3>CONFIRMATION OF AGREEMENT</h3>

            <p>These terms and conditions are governed by and are to be construed in accordance with English law,
                and any dispute arising out of these terms and conditions is subject to the exclusive jurisdiction
                of the courts of England and Wales.</p>
        </div>
    </div>
</div>

